main{
    margin-top: 50px;
}

table{
    margin: 30px;
}

th{
    font-weight: 800;
}

td{
    text-transform: capitalize;
}

button{
    width:75px;
    align-self: center;
    margin-top: 5px;
}

#num-rounds{
    width:175px;
    height: 50px;
    align-self: center;
    text-align: center;
    margin-top: 5px;
}

canvas {
    align-content: center;
  }
